<div class="flex justify-center">
  <div class="w-full max-w-lg">
    <div data-controller="bookmarklet" class="flex flex-wrap px-8 pt-6 pb-8 mb-4 bg-white shadow-md rounded leading-normal">
      <h3 class="py-3 text-xl text-gray-600">Integration with Browsers</h3>
      <p class="py-3">aCart.to uses bookmarklets for browser integration. Bookmarklets are little javascript links that
        live in the bookmarks
        toolbar of your browser.</p>


      <p class="py-3">First, Add your Amazon Associate ID:</p>
      <div class="w-full text-center mb-3">
        <div class="flex">
          <input data-target="bookmarklet.input" value="YOUT-ASSOCIATE-ID" class="w-2/3 rounded-l-lg bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
          <button data-action="click->bookmarklet#populate_id" class="w-1/3 px-4 rounded-r-lg bg-blue-400 text-gray-100 font-bold p-3 uppercase border-blue-500 border-t border-b border-r hover:bg-blue-500">
            Add
          </button>
        </div>
      </div>

      <p class="py-3">Second, pick a bookmarklet and drag it to your bookmarks toolbar:</p>

      <ul class="list-disc pl-6 pb-6 pt-3">
        <li class="py-1">
          <a
            data-target="bookmarklet.popup"
            class="bookmarklet bg-blue-200 border-2 rounded border-blue-500 p-1 border-dashed"
            href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('https://acart.to/?asin='+encodeURIComponent(location.href) +'&title='+encodeURIComponent(document.title) + '&tag=YOUR-TAG','aCart.to','toolbar=no,scrollbars=yes,width=650,height=700'));"
          >popup</a> opens aCart.to form window with product you're currently viewing already added and
          <strong>associate tag</strong> filled.
        </li>

        <li class="py-1">
          <a
            data-target="bookmarklet.samepage"
            class="bookmarklet bg-blue-200 border-2 rounded border-blue-500 p-1 border-dashed"
            href="javascript:if(document.getSelection){s=document.getSelection();}else{s='';};document.location='https://acart.to/?asin='+encodeURIComponent(location.href) +'&title='+encodeURIComponent(document.title) + '&tag=YOUR-TAG';"
          >same page</a> will load the aCart form in the same window as the page, but also will pre-populate
          <strong>associate tag</strong>.
        </li>
      </ul>


      <p class="py-3">If you use <b>Firefox</b>, <b>Safari</b>, <b>Chrome</b> or <b>Opera</b>, you can drag these links
        up to your bookmarks
        toolbar. You can
        rename them to whatever you like by right-clicking and choosing 'edit name'.

      <p class="py-3">If you're using <b>Internet Explorer</b>, dragging won't work. Right-click on the bookmarklet
        instead,
        and select 'add
        to Favorites' at the prompt.</p>

      <div class="w-full">
        <div class="flex bg-grey-light sm:items-center pt-4 text-center">
          <a href="/" class="w-full px-4 rounded text-blue-400 font-bold p-3 uppercase border-2 border-blue-500 bg-white hover:bg-gray-200">
            Back
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
