<div class="flex justify-center">
  <div class="w-full max-w-lg">
    <div class="flex flex-wrap px-6 pt-6 pb-6 mb-4 bg-white shadow-md rounded">
      <div class="w-full text-center">
        <form class="flex" method="get" action="/">
          <input name="asin" placeholder="AMAZON ASIN" class="w-2/3 rounded-l-lg bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
          <input type="submit" value="Add" class="w-1/3 px-4 rounded-r-lg bg-blue-400  text-gray-100 font-bold p-3 uppercase border-blue-500 border-t border-b border-r hover:bg-blue-500"/>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full max-w-lg">
    <div class="flex flex-wrap px-8 pt-6 pb-8 mb-4 bg-white shadow-md rounded leading-normal">
      <p class="mt-6 pb-6">
        aCart.to is not a regular amazon shortener. It can produce <strong>very short links</strong> and <strong>include associate tag</strong>. But what
        separates aCart.to apart from the rest are other features:
      </p>

      <ul class="list-disc pl-6 pb-6">
        <li>Bundles multiple products with a single link</li>
        <li>Link will redirect to a checkout page adding products to a cart</li>
        <li>Once at checkout, user can remove item completely ot change quantity</li>
      </ul>
      <p>
        Example:

        <a href="https://acart.to/X" class="text-blue-500">https://acart.to/X</a>
      </p>

    </div>
  </div>
</div>
