<%= erb :add_product %>

<div class="flex justify-center">
  <div class="w-full max-w-lg">
    <div class="flex flex-wrap px-8 pt-6 pb-8 mb-4 bg-white shadow-md rounded leading-normal">
      <h3 class="pb-6 text-xl text-gray-600">
        aCart.to is not another amazon link shortener.
      </h3>
      <p class="pb-6 ">

        It can produce <strong>very short links</strong> and <strong>include associate tag</strong> as any other shortener. But what
        sets aCart.to apart from the rest:
      </p>

      <ul class="list-disc pl-6 pb-6">
        <li>Shorten link without leaving Amazon Product page</li>
        <li>Bundle multiple products into a single link</li>
        <li>Link will redirect to a checkout page adding products to a cart</li>
        <li>Once at checkout, user can remove item completely, change quantity or continue to browse amazon.</li>
      </ul>
      <p class="pb-6">
        Example:
        <a href="https://acart.to/V" class="text-blue-500">https://acart.to/V</a>
      </p>

      <p>
        This service is <b>free of charge</b>. But some new features will be built only for premium users.
      </p>

    </div>
  </div>
</div>
