<!doctype html>
<html lang='en'>
<head>
  <title>aCart.to - One of a kind Amazon product shortener</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow"/>
  <meta name='description' content='aCart is a Amazon product shortener with ability to add multiple products to a single shortest possible link.'>
  <meta name='url' content='https://acart.to'>
  <meta name='identifier-URL' content='https://acart.to'>
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="aCart.to - One of a kind Amazon product shortener">
  <meta name="twitter:description" content="aCart is a Amazon product shortener with ability to add multiple products to a single shortest possible link.">
  <meta name="twitter:creator" content="@skatkov">
  <!--<meta name="twitter:image" content="/assets/images/twitter-social.jpg"> -->

  <meta property="og:title" content="aCart.to - One of a kind Amazon product shortener"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://acart.to/"/>
  <meta property="og:description" content="aCart is a Amazon product shortener with ability to add multiple products to a single shortest possible link."/>
  <meta property="og:site_name" content="aCart"/>
  <!--<meta property="og:image" content="/assets/images/facebook-social.jpg"/>-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110451856-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-110451856-5');
  </script>

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script>
    (() => {
      const application = Stimulus.Application.start()

      application.register("clipboard", class extends Stimulus.Controller {
        static get targets() {
          return ["source"]
        }

        copy() {
          this.sourceTarget.select()
          document.execCommand("copy")
        }
      })
    })()
  </script>
</head>
<body class="bg-gray-200">
<script src="/js/trimmings.js"></script>


<div class="py-1 px-6">
  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <h1 class="text-5xl leading-tight font-bold">
        <a href="/">aCart.to</a>
      </h1>
      <h2 class="mb-4 text-2xl text-gray-600">Amazon product shortener</h2>
    </div>
  </div>

  <%= yield %>

  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <div class="bg-blue-600 text-center py-4 lg:px-4 shadow-md rounded">
        <a href="https://www.fbamonthly.com">
          <div class="p-2 bg-blue-500 items-center text-blue-100 leading-none rounded-full flex inline-flex">
            <span class="font-semibold mr-2 flex-auto px-2 py-1">Project by FbaMonthly newsletter</span>
            <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
  <p class="text-center text-gray-500 text-xs my-4">
    ©2020 Skylup, contact: acart@skylup.com
  </p>


</div>
</body>
</html>
